.navbar {
    background-color:#00549e;
}

.navbar .navbar-header {
    height: 80px;
}

.navbar-toggle {
    color: #fff;
}

.navbar ul.nav {
    margin-top: 20px;
}

.nav-pills>li+li {
    margin-left: 10px;
}

.nav-pills a {
    color: #fff;
}

.navbar a:hover {
    color: #00549e;
}

tr {
    vertical-align: top;
}

.file-time {
    font-family: monospace;
    font-size: small;
    text-wrap: avoid;
    width: 70px;
}
