.navbar {
    background-color:#00549e;
}

.navbar .navbar-header {
    height: 80px;
}

.navbar-toggle {
    margin-top: 30px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar ul.nav {
    margin-top: 20px;
}

.nav-pills>li+li {
    margin-left: 10px;
}

.nav-pills a {
    color: #fff;
}

.navbar a:hover {
    color: #00549e;
}

tr {
    vertical-align: top;
}

td.file-time>span {
    font-family: monospace;
    font-size: small;
}

@media screen and (min-width: 760px) {
    td.file-time>span {
        min-width: 140px;
        display: block;
    }
}
